/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f44336;
    color: white;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
    text-align: center;
}

h2 {
    font-size: 1.8em;
    color: #333;
}

p {
    font-size: 1.2em;
}

button {
    padding: 10px 20px;
    background-color: #0288d1;
    color: white;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #0277bd;
}

#call-btn {
    background-color: #f44336;
}

#call-btn:hover {
    background-color: #d32f2f;
}

footer {
    background-color: #0288d1;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 20px;
}
